.auth-screen-layout {
    margin: 50px;
    padding: 50px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.sign-up-layout {
    width: 500px;
    height: auto;
    flex-shrink: 0;
    border-radius: 16px;
    box-shadow: 0 0 20px 4px #00000014;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-fields-layout {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.heading {
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: black;
}

.heading {
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: black;
}

.input {
    width: auto;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgb(15, 15, 15);
    background: #fffc;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    box-sizing: border-box;
}

.input-text {
    width: 90%;
    height: 90%;
    border: none;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

input::placeholder {
    font-size: 15px;
    color: #27292a;
}

label {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

.submit-button {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background: #483ea8;
    box-shadow: 0 1px 2px #1018280d;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: .782px;
    border: none;
    margin: 10px auto;
    margin-top: 1.5rem !important;
    text-align: center;
    transition: background-color .3s ease;
}

.google-signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 10px;
    width: 100%;
    /* Full width button */
    max-width: 300px;
    /* Optional max width */
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.google-signin-button:hover {
    background-color: #f2f4f8;
}

.google-signin-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.google-signin-text {
    flex-grow: 1;
    font-family: "Google Sans", arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    color: black; 
}

.below-text {
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .28px;
    color: black;
}

.below-highlited-text {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: .28px;
    color: black;
    text-decoration: none;
    padding-left: 4px;
}